@import '~leaflet/dist/leaflet.css';
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";

.OfflineMap-map,
.OfflineMap-container {
  width: 100%;
  height: calc(100vh - 20px);

  .leaflet-bottom.leaflet-right {
    z-index: 4000;
    margin-bottom: 3rem;
  }

  .leaflet-popup-content-wrapper {
    border-radius: 2px;


    .leaflet-popup-content {
      font-family: NovelSansProLight;
    }
  }
}

.leaflet-control-attribution a {
  pointer-events: none;
}

.marker-popup {
  min-height: 200px;
  max-height: 200px;
  overflow-y: scroll;
}

